#header.myheader{
    position: sticky;
    top: 0;
    z-index: 100;
  }
  #header #navbar{
      width: 100vw;
      transition: all 0.3s ease-in-out;
      background-color: white;
      font-weight: 600;
      background-color: var(--cprimarybg);
  }
  #header nav>div{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
  }
  
  #header nav #titlelogo img{
      max-height: 70px;
  }
  
  #header nav .nav-element{
      display: flex;
      flex-direction: row;
      list-style-type: none;
  }
  
  #header nav ul {
      margin: 0;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      transition: all 0.1s ease-in-out;
  }
  #header nav ul li {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  #header nav ul li a{
      padding: 5px 10px;
      margin: 0 10px;
  }
  #header nav ul li a:hover{
      text-decoration: underline;
  }
  
  #header #contact-btn{
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  #header #contact-btn a{
      background-color: var(--cprimary);
      padding: 10px 35px;
      border-radius: 10px;
      color: white;
      text-decoration: none;
      transition: all 0.1s ease-in-out;
      font-size: 18px;
  }
  #header #contact-btn a:hover{
      outline-offset: 2px;
      outline: 2px solid var(--cprimary);
  }
  
  #header #navbar.active{
      background-color: var(--cprimarylight);
  }
  #header #navbar.active ul.nav-element{
      color: white;
  }
  #header #navbar.active #contact-btn a{
      background-color: white;
      color: var(--cprimary);
  }
  #header #navbar.active #contact-btn a:hover{
      outline: 2px solid white;
  }
  