
:root {
    --cprimary: #0d1f5c;
    --cprimarylight: #014399;
    --cprimarybg: #f4f9ff;
    --line: rgb(239, 242, 250);
}

/* Prevent screen slide on mobile */
/* html, body {width: auto!important; overflow-x: hidden!important}  */

/* Custom classes */
.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.px-6 {
    padding-right: 6rem;
    padding-left: 6rem;
}

html,body
{
    scroll-behavior: smooth;
    /* font-family: 'Noto Sans TC', sans-serif; */
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
}

.fillpage{
    height: 100%;
}
@media (max-width: 768px){
    .fillpage{
        height: 120%;
    }
}

#header.myheader{
  position: sticky;
  top: 0;
  z-index: 100;
}
#header{
    max-width: 100vw;
    font-weight: 600;
    background-color: var(--cprimarybg);
}
#header #navbar{
    transition: all 0.3s ease-in-out;
}
#header nav>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#header nav #titlelogo img{
    max-height: 70px;
}

#header nav .nav-element{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#header nav ul {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.1s ease-in-out;
}
#header nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header nav ul li a{
    padding: 5px 10px;
    margin: 0 10px;
}
#header nav ul li a:hover{
    text-decoration: underline;
}

#header #contact-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header #contact-btn a{
    background-color: var(--cprimary);
    padding: 10px 35px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    font-size: 18px;
}
#header #contact-btn a:hover{
    outline-offset: 2px;
    outline: 2px solid var(--cprimary);
}

#header #navbar.active{
    background-color: var(--cprimarylight);
}
#header #navbar.active ul.nav-element{
    color: white;
}
#header #navbar.active #contact-btn a{
    background-color: white;
    color: var(--cprimary);
}
#header #navbar.active #contact-btn a:hover{
    outline: 2px solid white;
}

#mobilenav-tog{
    display: none;
    color: var(--cprimary);
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
#mobilenav-tog.active{
    color: white;
}
#mobilenav-tog-icon{
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
}

@media (max-width: 768px){
    #header nav #titlelogo img{
        max-width: 40vw;
        object-fit: cover;
    }
    #header #navlinks,
    #header #contact-btn{
        display: none;
    }
    #header #navbar>div{
        padding: 5px;
    }
    #mobilenav-tog{
        display: inline-block;
    }
}
#mobilenav{
    display: none;
    position: absolute;
	width: 100%;
	z-index: 100;
    background-color: var(--cprimarybg);
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0px 0px 5px 5px rgba(176, 178, 180, 0.1);
}
#mobilenav ul{
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#mobilenav li{
    list-style-type: none;
    padding: 1rem;
}
#mobilenav a{
    text-decoration: none;
    color: var(--cprimary);
    font-weight: 400;
}
#mobilenav.active{
    background-color: var(--cprimarylight);
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
#mobilenav.active a{
    color: white;
}

/* Main content */
#intro{
    background-color: var(--cprimarybg);
}
#intro span{
    font-size: min(10vw, 3.25rem);
    font-weight: 700;
    display: block;
    line-height: 1;
}
#intro p{
    font-size: 1.2rem;
    color: rgb(68, 68, 68);
}
#intro #dynword{
    color: var(--cprimarylight);
}
.mybtn a{
    background-color: var(--cprimary);
    padding: 16px 35px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    font-size: 18px;
}
.mybtn a:hover{
    outline-offset: 2px;
    outline: 2px solid var(--cprimary);
}

.sectitle h1,
.sectitle h2,
.pagetitle h1,
.pagetitle h2{
    font-weight: 600;
}
.pagetitle h4{
    font-weight: 500;
}
.sectitle h4{
    font-weight: 400;
    color:rgb(107, 107, 107);
    font-size: 1.3rem;
}
.card{
    border-radius: 10px;
    border: 1px solid rgb(236, 236, 236);
    transition: all 0.1s ease-in-out;
}
.card:hover{
    box-shadow: 0px 0px 10px 2px rgba(90, 96, 158, 0.1);
}

.hr_fade{
    height: 2px;
    background-color: var(--line);
    margin: 0 auto;
    background-image: linear-gradient(left , white 2%, var(--line) 10%, var(--line) 90%, white 98%);
    background-image: -o-linear-gradient(left , white 2%, var(--line) 10%, var(--line) 90%, white 98%);
    background-image: -moz-linear-gradient(left , white 2%, var(--line) 10%, var(--line) 90%, white 98%);
    background-image: -webkit-linear-gradient(left , white 2%, var(--line) 10%, var(--line) 90%, white 98%);
    background-image: -ms-linear-gradient(left , white 2%, var(--line) 10%, var(--line) 90%, white 98%);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.1, var(--line)), color-stop(0.9, var(--line)), color-stop(0.98, white));
}

.carousel-inner{
    min-height: 12em;
}
@media (max-width: 768px){
    .carousel-inner{
        min-height: 22em;
    }
}
.carousel-control-next,
.carousel-control-prev {
    width: 5vw;
    height: 50vh;
}
.carousel-control-next,
.carousel-control-prev{
    max-height: 100%;
}
.carousel-indicators{
	position: relative;
}
.carousel-indicators button.active{
	background-color: var(--cprimarylight) !important;
}
.carousel-item h5,
.carousel-item h6{
    color: rgb(61, 61, 61);
}

.sectitle .stress{
    font-weight: 500;
    font-size: 1.6rem;
}

#course .course_imglinks img{
    max-width: 100%;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}
#course .course_imglinks:hover img{
    background-color: var(--cprimarybg);
}
@media (max-width: 768px){
    #course .course_imglinks img{
        max-width: 50vw;
    }
}

#footer{
    background-color: var(--cprimarylight);
    color: white;
    font-size: 0.8rem;
}

#tutprocess .card,
#tutprogram .card,
#edtprocess .card,
#edtprogram .card{
    border: none;
}
#tutprocess .row>div:nth-child(1) .card{
    background-color: #edf2fb90;
}
#tutprocess .row>div:nth-child(2) .card{
    background-color: #e2eafc90;
}
#tutprocess .row>div:nth-child(3) .card{
    background-color: #d7e3fc90;
}
#tutprocess .row>div:nth-child(4) .card{
    background-color: #ccdbfd90;
}

#tutprocess .row>div:nth-child(1) .card:hover{
    background-color: #edf2fb;
}
#tutprocess .row>div:nth-child(2) .card:hover{
    background-color: #e2eafc;
}
#tutprocess .row>div:nth-child(3) .card:hover{
    background-color: #d7e3fc;
}
#tutprocess .row>div:nth-child(4) .card:hover{
    background-color: #ccdbfd;
}

#tutprogram ol li{
    margin-top: 0.2rem;
}
#tutprogram .row>div:nth-child(1) .card{
    background-color: #a9d6e550;
}
#tutprogram .row>div:nth-child(2) .card{
    background-color: #89c2d950;
}
#tutprogram .row>div:nth-child(3) .card{
    background-color: #61a5c250;
}
#tutprogram .row>div:nth-child(1) .card:hover{
    background-color: #a9d6e5a0;
}
#tutprogram .row>div:nth-child(2) .card:hover{
    background-color: #89c2d9a0;
}
#tutprogram .row>div:nth-child(3) .card:hover{
    background-color: #61a5c2a0;
}

#edtprocess .row>div:nth-child(1) .card{
    background-color: #ffc97170;
}
#edtprocess .row>div:nth-child(2) .card{
    background-color: #ffb62770;
}
#edtprocess .row>div:nth-child(3) .card{
    background-color: #ff950570;
}
#edtprocess .row>div:nth-child(4) .card{
    background-color: #e2711d70;
}

#edtprocess .row>div:nth-child(1) .card:hover{
    background-color: #ffc971;
}
#edtprocess .row>div:nth-child(2) .card:hover{
    background-color: #ffb627;
}
#edtprocess .row>div:nth-child(3) .card:hover{
    background-color: #ff9505;
}
#edtprocess .row>div:nth-child(4) .card:hover{
    background-color: #e2711d;
}

#edtprogram .card{
    background-color: #fc2f0060;
}
#edtprogram .card:hover{
    background-color: #fc2f0090;
}
#edtrates .form-label{
    font-weight: 500;
}
#edtrates .input-help{
    color: rgb(59, 59, 59);
    margin: 0;
    font-size: 0.9rem;
}

#edtrates .orderinput{
    display: none;
}
#edtrates #order-btn{
    display: none;
}

#self-intro p{
    font-size: 1.1rem;
    text-align: justify;
}

th{
    font-size: 1.2rem;
}

#tutform form{
    position: relative;
    padding: 10px;
}
.succactive{
    color: grey;
    opacity: 0.5;
}
#succoverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(188, 212, 255, 0.137);
    z-index: 98;
    border-radius: 8px;
    display: none;
}
#btnandmsg{
    display: flex;
    justify-content: space-between;
}
#succmsg{
    font-weight: 500;
    pointer-events: none;
    display: none;
}

footer>div{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}